<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <div class="hero-unit">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    </div>
    <div class="profile hero-unit"><h4>Gender: <%= @user.gender %> </h4>
      <h4>Interests:</h4> <p2><%= @user.interests %><p2> 
      <h4>Quotes:</h4> <p><%= @user.quotes %><p> 
      <h4>Hometown:</h4> <p3><%= @user.hometown %><p3>
    </div>
  </aside>
  <div class="span8">
    <% if (@user.microposts.any?)%>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class= "microposts" >
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>