<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <div class="hero-unit">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    </div>
    <div class="profile hero-unit"><h4>Gender:</h4> <%= @user.gender %> 
      <h4>Interests:</h4> <%= @user.interests %> 
      <h4>Quotes:</h4> <%= @user.quotes %> 
      <h4>Hometown:</h4> <%= @user.hometown %>
    </div>
  </aside>
  <div class="span8">
    <% if (@user.microposts.any?)%>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class= "microposts" >
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>