<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
     <section>
        <%= render 'shared/user_info' %>
      </section>
    <div class="profile hero-unit"><h4>Gender:</h4> <p2><%= @user.gender %></p2>
      <h4>Interests:</h4> <p2><%= @user.interests %><p2> 
      <h4>Quotes:</h4> <p2><%= @user.quotes %><p2> 
      <h4>Hometown:</h4> <p2><%= @user.hometown %><p2>
    </div>
  </aside>
  <div class="span8">
    <% if (@user.microposts.any?)%>
      <section><h3>Spin us a Tale</h3></section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <h3>Tales (<%= @user.microposts.count %>)</h3>
      <ol class= "microposts" >
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>